.container
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				img(src="https://dummyimage.com/990x500/91D1BF/EC7B7C",alt="写真")
				a.popup__button(href="https://dummyimage.com/990x500/91D1BF/EC7B7C")
				p.slide__text ダミーダミーダミーダミーダミー
			.swiper-slide
				img(src="https://dummyimage.com/1200x606/B2EDCE/EDB3B2",alt="写真")
				a.popup__button(href="https://dummyimage.com/1200x606/B2EDCE/EDB3B2")
				p.slide__text 車いすの方に配慮した新客室「グランスイート」
			.swiper-slide
				img(src="https://dummyimage.com/990x500/A6D8DF/EE5840",alt="写真")
				a.popup__button(href="https://dummyimage.com/990x500/A6D8DF/EE5840")
				p.slide__text 車いすの方に配慮した新客室「グランスイート」
	.swiper-pagination
	.swiper-button-prev
	.swiper-button-next
	
.contents
